<html>
<p id=progressbar>Connecting</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript">
    function getProgress() {
         if ("WebSocket" in window) {
            var client_display = Stomp.client('ws://127.0.0.1:15674/ws');
            var mq_queue_display = "/exchange/1806141284/{{ file_id }}";
            var on_connect_display = function() {
                console.log('connected');
                client_display.subscribe(mq_queue_display, on_message_display);
            };
            var on_error_display = function() {
                console.log('error');
            };
            var on_message_display = function(message) {
                console.log(message);
                //Redirect to file location
                if (message.body.includes("http")) {
                    window.location.href = message.body;
                }
                //Display progress
                else 
                {
                    progress = parseInt(message.body);
                    console.log("_".repeat(100) + message.body);
                    if (!isNaN(progress)) {
                        payload = "Download progress:\n" + "&block;".repeat(progress/10) + " " + progress + "%";
                        $('#progressbar').html(payload);
                    }
                }
            };
            client_display.connect('guest', 'guest', on_connect_display);
        }
        else {
            alert("WebSocket NOT supported by your Browser!");
        }
    }
    getProgress();
</script>
</html>